:root {
	--darker: #dd5a1d;
	--darkest: #011644;
	--grey: #f7ebeb;
	--pink: #e91bbcca;
	--purple: #ad47c7;
	--light: rgb(236, 226, 226);
}

* {
	margin: 12;
	box-sizing:content-box;
	font-family:'Times New Roman', Times, serif;
}

body {
	display:flex;
	flex-direction:column;
	min-height: 80px;
	color: rgb(15, 15, 15);
	background-color:#f7835f ;
}

header {
	padding: 2rem 1rem;
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
}

header h1{ 
	font-size: 3rem;
	font-weight: 300;
	color: var(--grey);
	margin-bottom: 2rem;
}

#new-task-form {
	display: flex;;
}

input, button {
	appearance: none;
	border: rgb(243, 241, 241) double 2px;
	outline:none;
	background: rgb(8, 204, 218);
}

#new-task-input {
	flex: 1 1 0%;
	background-color: var(--darker);
	padding: 1rem;
	border-radius: 1rem;
	margin-right: 1rem;
	color: var(--light);
	font-size: 1rem;
}

#new-task-input::placeholder {
	color: var(--grey);
}

#new-task-submit {
	color: var(--pink);
	font-size: 1rem;
	font-weight: 800;
	background-image: linear-gradient(to right, var(--pink), var(--purple));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	cursor: pointer;
	transition: 0.8s;
}

#new-task-submit:hover {
	opacity: 0.5;
}

#new-task-submit:active {
	opacity: 0.4;
}

main {
	flex: 1 1 0%;
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
}

.task-list {
	padding: 1rem;
}

.task-list h2 {
	font-size: 2 rem;
	font-weight: 300;
	color: var(--grey);
	margin-bottom: 1rem;
}

#tasks .task {
	display: flex;
	justify-content: space-between;
	background-color: var(--darkest);
	padding: 1rem;
	border-radius: 1rem;
	margin-bottom: 1rem;
}

.task .content {
	flex: 1 1 0%;
}

.task .content .text {
	color: var(--light);
	font-size: 1.125rem;
	width: 100%;
	display: block;
	transition: 0.4s;
}

.task .content .text:not(:read-only) {
	color: var(--pink);
}

.task .actions {
	display: flex;
	margin: 0 -0.5rem;
}

.task .actions button {
	cursor: pointer;
	margin: 0 0.5rem;
	font-size: 1.125rem;
	font-weight: 700;
	text-transform: uppercase;
	transition: 0.4s;
}

.task .actions button:hover {
	opacity: 0.8;
}

.task .actions button:active {
	opacity: 0.6;
}

.task .actions .edit {
	background-image: linear-gradient(to right, var(--pink), var(--purple));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.task .actions .delete {
	color: rgb(136, 21, 44);
}